#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}

#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

#sidebar-box {
    flex-direction: column-reverse;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

/*Collapse in default state and add transition*/

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    overflow: hidden;
    min-width: 50px !important;
    max-width: 50px !important;
    transition: all 0.2s ease 1s;
    border-right: 1px solid #0c0c0d;
    z-index: 2;
}

/* Expand to 260px on hover */
/* As of Firefox 133.0b2, set a higher z-index so the hovered sidebar appears over the browser viewport */

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
    min-width: 260px !important;
    max-width: 260px !important;
    transition-delay: 0s !important;
    z-index: 3;
}

#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
    display: none !important;
    width: 0px !important;
}
